<style>

    header {
       display: block;
    }

    body * {
       font-family: "Times New Roman", Times, serif;
       font-size: 100%;
       font-weight: inherit;
       line-height: 1.2em;
       list-style: none;
       margin: 0px;
       padding: 0px;
       text-decoration: none;
       vertical-align: baseline;
    }

    body{
        background-color: #b6d5ac; 
        width: 100%;
        height: 100%;
    }

    header{
       float: left;
       width: 100%;
       top: 0; 
       left: 0;
    }

    header img{
        width: 100%;
        height: 50%;
        display: block;
        float: left;
    }

    .container {
            width: 50%; 
            background-color: rgba(255, 255, 255, 0.5);
            margin: 10% auto 0;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 400px;
    }

    h2 {
            color: rgb(29, 61, 20);
            padding: 5px 0 10px 0;
            font-weight: bold;
            font-size: 24px;       
    }

    h3 {
            color: rgb(29, 61, 20);
            padding: 10px 0 0 0;
            font-size: 20px;

    }

    form {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    select, button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-sizing: border-box; /* Makes sure the padding doesn't affect the final width */
    }
    button {
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }

    .select-field {
    margin-bottom: 20px; 
    }

    .menu-field{
        width: 80%; 
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .center-text {
    text-align: center;
    margin-bottom: 40px;
    }


</style>
